@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  color: black;
}
.bg {
  background-image: url("bg2.jpg");
  background-position: center;
  background-size: cover;
  border-block: 10px solid #FFFB1F;
}
.hero {
  background-image: url("bg.jpg");
  background-position: top;
  background-size: cover ;
  background-repeat: no-repeat;
}
input:focus {
  outline: none;
}
.card{
  @apply text-center flex flex-col justify-between w-full min-h-full gap-2 cursor-pointer backdrop-blur-0 shadow-xl p-1 bg-black text-white rounded-sm;
}
.card:hover{
  @apply text-center flex flex-col w-full gap-2 backdrop-blur-0 duration-200 shadow-xl p-1 bg-[#FFFB1F] text-black rounded-sm;
}
.card:hover .author{
  @apply text-black;
}